/* The entire document uses this font-family through out */
* {
    font-family: 'aakar';
}


/* This is to set p default margin to 0 */
p {
    margin: 0;
}

/* This the background for the entire page */
body{
    background-color: #f4f9ffff;
}

/* creating a row for all the elements in the hearder section and make them display inline*/
.header .row{
    display: flex;
}
/* Setting width for the brand container */
.brand{
    width: 25%;
}

/* setting margin top and left to 10px for brand logo */
.brand img{
    margin: 10px 0 0 10px;
}

/* Styling the heading */
.heading{
    width: 40%;
    text-align: center;
    line-height: 35px;
}

/*Styling the heading text  */
.heading h1{
    color: #1e2d4aff;
    font-size: 2em;
    font-weight: 900;
}

/* styling container  */
.container{
    padding:0 50px;
}

/* Styling the all the .col  */
.col {
    /* height: 400px; */
    /* background-color: #11203fff; */
    /* margin: 10px; */
    /* background-color: black; */
    border: 1px solid black;
}

/* setting diff width to all columns */
.col1{
    width: 300px;

}
.col2{
    width:400px;
}
.col3{
    width: 300px;
}
.col4{
    width: 200px;
}

/* styling all the subjects containers */
.col div{
    width: 200px;
    height: 45px;
    border-radius: 5px;
    line-height: 25px;
    padding: 5px;
    margin-bottom: 25px;
    color: #11203fff;
}
.col1 div{
    display: flex;
    align-items: center;
    font-size: 1.5em;
       
}

section{
    float: right;
    position: relative;
}

.col1 div.sub section p{
    display: grid;
    align-items: center;
    float: right;
    margin-left: 30px;
}
/* Style use of liberary  */
.useOfLiberary {
        background-color: #5ee2e7ff;
}

.communicationSkill{
        background-color: #d0a4d9ff;;
}

.homeWork{
    background-color: #39b5ffff;
}
.LearningSkill{
    background-color: #dad9d7ff;
}

.col1 div .badge{
    position: absolute;
    left: 100px;
    background-color: #11203fff;
    color: #ffffff;
    height:50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    font-size: 1em;
    margin: 0;
   
}
.sub {
    float:right;
    text-align: justify;
}
/* Styling second column */
div.col2 div.userContainer{
    width: 390px;
    height: 400px;

}
div.col2 div.userContainer div.userBgContainer{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ffcea3ff;
}
div.col2 div.userContainer div.userBgContainer div.circle{
    width: 160px;
    height: 160px;
    margin: auto;
    margin-top: 10px;
    border: 6px solid #11203fff ;
    border-radius: 50%;
}
div.col2 div.userContainer div.userBgContainer div.circle div.userPhoto{
    width: 100px;
    height: 90px;
    margin: auto;
}
div.col2 div.userContainer div.userBgContainer div.circle div.userId{
    width: 150px;
    height: auto;
    margin: auto;
    text-align: center;
    line-height: 15px;
    font-weight: 900;
}
div.col2 div.userContainer div.dashedLine{
    position: relative;
    width: 120px;
    border: none;
    border-radius: 0;
    border-top:  3px dotted #11203fff ;
    
}
div#one{
    left:20px;
    bottom: 20px;
    transform: rotate(-30deg);

}
div#two{
    width: 90px;
    left: 20px;
    bottom: 150px;
    transform: rotate(-10deg);

}
div#three{
    width: 90px;
    left: 5px;
    bottom: 290px;
    transform: rotate(20deg);
}
div#four {
    width: 100px;
    left: 7px;
    bottom: 430px;
    transform: rotate(30deg);
}