/* The entire document uses this font-family through out */
* {
    font-family: 'aakar';
}


/* This is to set p default margin to 0 */
p {
    margin: 0;
}

/* This the background for the entire page */
body{
    background-color: #f4f9ffff;
}

/* creating a row for all the elements in the hearder section and make them display inline*/
.header .row{
    display: flex;
}
/* Setting width for the brand container */
.brand{
   
    width: 30%;
}

/* setting margin top and left to 10px for brand logo */
.brand img{
    margin: 10px 0 0 10px;
}

/* Styling the heading */
.heading{
    width: 40%;
    text-align: center;
    line-height: 35px;
}

/*Styling the heading text  */
.heading h1{
    color: #1e2d4aff;
    font-size: 2em;
    font-weight: 900;

}

/* styling container  */
.container{
    padding:0 50px;
}

/* Styling the all the .col  */
.col {
    height: 400px;
    margin: 10px;
    /* background-color: black; */
}

/* setting diff width to all columns */
.col1{
    width: 300px;

}
.col2{
    width:400px;
}
.col3{
    width: 300px;
}
.col4{
    width: 200px;
}

/* styling all the subjects containers */
.col div{
    width: 250px;
    height: 55px;
    border-radius: 5px;
    line-height: 25px;
    padding: 5px;
    margin-bottom: 25px;
    color: #11203fff;
}
.col1 div{
    display: flex;
    align-items: center;
    font-size: 1.5em;
       
}

.col1 div.sub section p{
    display: grid;
    align-items: center;
    /* float: right; */
    margin-left: 45px;
}
/* Style use of liberary  */
.useOfLiberary {
        background-color: #5ee2e7ff;
}

.communicationSkill{
        background-color: #d0a4d9ff;;
}

.homeWork{
    background-color: #39b5ffff;
}
.LearningSkill{
    background-color: #dad9d7ff;
}

.col1 div .badge{
    display: inline;
    /* float: left; */
    background-color: #11203fff;
    color: #ffffff;
    height:30px;
    width: 30px;
    font-size: 1em;
    margin: 0;
    /* display: grid; */
        /* align-items: center; */
        /* float: right; */
        /* margin-left: 45px; */
}
.sub{

}